<h1>Welcome, <%= current_user.username %>!</h1>

<%= link_to "Go to Categories",  user_categories_path(current_user)%>
<%= link_to "Go to Ideas", user_ideas_path(current_user) %>
<%= link_to "Go to Images", user_images_path(current_user)%>
<%= link_to "Log Out", logout_path, method: :delete %>
